includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        - message: '#Call to static method html\(\) on an unknown class Spatie\\Browsershot\\Browsershot#'
          path: src/Drivers/BrowsershotDriver.php
        - identifier: larastan.noEnvCallsOutsideOfConfig
          path: config/pdfable.php

